@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

body{
    font-size: 12px;
    margin: 0px;
    font-family: 'Century Gothic','Futura','Didact Gothic',san-serif;
}

.header {
    background-color: #C00002;
    padding: 15px 20px;
    color: white;
    font-size: 5mm;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto
}

a {
    text-decoration: none;
    color: white;
}

.header-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px
}

.tabla-presentacion {
    margin-top: 40px;
    width: 100%
}

.name-table {
    width: 50%;
    text-align: right;
    vertical-align: middle
}

.first-name{
    font-size: 12mm;
    margin: 0px
}

.second-names {
    font-size: 6mm;
    margin: 0px
}

.photo-table {
    width: 50%;
    vertical-align: middle;
}

.photo {
    margin-left: 30px;
    width: 120px;
    height: 120px;
    border: 2px black solid;
    border-radius: 50%;
}